APP_DEBUG = true

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
# TYPE = mysql
# HOSTNAME = 123.57.156.251
# DATABASE = weimiao
# USERNAME = weimiao
# PASSWORD = 3aRtRJK8NnnAz8dj
# HOSTPORT = 3306
# CHARSET = utf8
# DEBUG = true
# PREFIX = lt_
TYPE = mysql
HOSTNAME = 47.96.86.173
DATABASE = touliu
USERNAME = touliu
PASSWORD = W567bktEFb4GM47h
HOSTPORT = 3306
CHARSET = utf8
DEBUG = true
PREFIX =


[DATASLAVE]
# TYPE = mysql
# HOSTNAME = 121.196.204.149
# DATABASE = weimiao
# USERNAME = yuluobi
# PASSWORD = yuluobi123456
# HOSTPORT = 3306
# CHARSET = utf8
# DEBUG = true
# PREFIX = lt_
# TYPE = mysql
# HOSTNAME = 47.96.86.173
# DATABASE = touliu
# USERNAME = touliu
# PASSWORD = W567bktEFb4GM47h
# HOSTPORT = 3306
# CHARSET = utf8
# DEBUG = true
# PREFIX =
# TYPE = mysql
# HOSTNAME = 47.96.86.173
# DATABASE = weimiao
# USERNAME = weimiao
# PASSWORD = edpLirerHcE35Sa4
# HOSTPORT = 3306
# CHARSET = utf8
# DEBUG = true
# PREFIX = lt_

[SIGN]
SIGNKEY = JqSzbkcYx6rZwU6eV97j2wRSAgASwZUw
AESKEY = QgKRssgqXpfP3d5A
[REDIS]
HOST = 127.0.0.1
PASSWORD = 
PORT = 6379
CUSTOMER_REDIS_KEY = test_wm_merchant_customer_service_list_
lANDING_PAGE_REDIS_KEY = test_wm_landing_page_list_
USER_lANDING_PAGE_REDIS_KEY = test_wm_user_landing_page_merchant_id_
THREAD_PERIOD_NUM_REDIS_KEY = test_thread_period_num_merchant_id_
lANDING_PAGE_LIST_REDIS_KEY = test_wm_landing_list_v2_
MERCHANT_THREAD_PERIOD_NUM_APP_REDIS_KEY = test_merchant_thread_period_num_app_
MERCHANT_AMOUNT_REDIS_KEY = test_merchant_amount_
MERCHANT_AMOUNT_REDIS_KEY = test_merchant_amount_
MERCHANT_AMOUNT_REDIS_V2_KEY = test_merchant_amount_v2_
MERCHANT_AMOUNT_REDIS_V3_KEY = test_merchant_amount_v3_
YUANHUA_CUSTOMER_REDIS_KEY = test_wm_yuanhua_merchant_customer_service_list_

ASSIGN_THREAD_MEMBER_LIST_REDIS_KEY = test_assign_memeber_list
MERCHANT_TODAY_APP_THREAD_NUM_REDIS_KEY = test_merchant_today_app_thread_num_
MERCHANT_TODAY_APP_ZERO_THREAD_NUM_REDIS_KEY = test_merchant_today_app_zero_thread_num_
MERCHANT_TOTAY_18TO25_THREAD_NUM_REDIS_KEY = test_today_merchant_18to25_thread_num_
lANDING_PAGE_LIST_AB_REDIS_KEY = test_landing_page_list_ab_
MERCHANT_REDIS_KEY = test_crm_merchant_list
BAIDU_CUSTOMER_REDIS_KEY = ttest_baidu_wm_merchant_customer_service_list_
OVERDUE_CHANNEL_CUSTOMER_REDIS_KEY = test_overdue_channel_customer_redis_list_
OVERDUE_MERCHANT_CUSTOMER_REDIS_KEY = test_overdue_merchant_customer_id_
JZD_CHANNEL_CUSTOMER_REDIS_KEY = test1_jzd_channel_merchant_customer_id_


[LANG]
default_lang = zh-cn

[UPLOAD]
UPLOADTYPE = ali-oss

[ALIOSS]
ACCESSKEYID = LTAI5tFniL1VTi9uMTAJNjZ1
ACCESSKEYSECRET = gi79vHmg9bxhwwsLMJca2I7oIaqZLM
BUCKET = weimiaoedu
ENDPOINT = oss-cn-beijing.aliyuncs.com
DOMAIN = http://cdnwm.yuluojishu.com

[TENGXUNIM]
APPID = 1400655715
IDENTIFIER = manager
SECRETKEY = ca41451d8118b9f70adec8c2d696d33cf63053e34cc2b1e62e70bb31e1b3dfd9
LABEL = local_wm

[THREAD]
PEAKTIME = 11:00:00-15:00:00

[domain]
cors_request_domain = testflowh5.xuaoshangwu.com,localhost,testmch5.yuluojishu.com,testdwzwx.yuluojishu.com,wxminilink.szmfw.cn
cors_request_domain_url = https://testflowh5.xuaoshangwu.com,https://localhost,https://testmch5.yuluojishu.com,https://testdwzwx.yuluojishu.com,https://wxminilink.szmfw.cn
ip = 123.57.156.251

[FLOW]
LINK = http://testflowh5.xuaoshangwu.com/#/
H5_FLOW_COLLBACK_OPPO_PARAM_KEY = h5_flow_collback_oppo_param_
H5_FLOW_ALLOW_APPLY_MERCHANT_KEY = h5_flow_allow_apply_merchant
IP = 122.234.110.97

[ROLE]
GANSHI = 8
FINANCE = 9
CUSTOMERLEADER = 10
CUSTOMERGANSHI = 11

[WXROOT]
URL = https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=6c559146-f8a0-4780-a08a-cd1b6e86a787
CHANNEL_CONSUME_URL = https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=9679f25f-b4cd-4826-b238-b20921b86117
ERRORURL = https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=acc366a5-8ca4-4f87-a494-44d4ca97f01d
TODAYCHRANTURL = https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=803d0214-afd8-47fc-8194-d4e7b937c80b
WXMINIURL = https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=b34821bd-3710-4d50-8518-ea62682941ed

[TENIM]
sdk_app_id = 1400737891
identifier = administrator
secret_key = a2439fe161e7731b94bb957d6e5df237e1049f5f814f26d0e4bff2f5ef8121cb
customer_id = 0af19a1d9258ce39a8527107a9356259
YUQICLSID = 9
tenim_user = user_
tenim_admin = admin_

[WECHATURLH5]
APPID = wx319efae6e5fa3e3f
SECRET = d33cdfdd0264f113fdac5961ad07c796

[CUSDIS]
app_class_id = 1:配音,3:pr,10:游戏原画
bi_peiyin_id = 1
bi_yuanhua_id = 10

[DISCERNQRCODE]
DISCERN_QRCODE_IMAGE = http://cdnwm.yuluojishu.com/uploads/20221019/5bc324dcd5728baa83cf11294f7267b5.png


[URL]
MCH5URL = http://testmch5.yuluojishu.com

[YXGXJZOPPOLANDINGPAGE]
PAYLANDINGPAGE = http://cdnwm.yuluojishu.com/uploads/20221209/f084da3133b17e4445060d72adaf4a6d.jpg
PAYDESCIMAGE = http://cdnwm.yuluojishu.com/uploads/20221209/3e86f0e5bf431d5187995a2fbafcfb84.jpg
FREELANDINGPAGE = http://cdnwm.yuluojishu.com/uploads/20221209/7111d8b57769013132fadd38bb4899d5.jpg
FREEDESCIMAGE = http://cdnwm.yuluojishu.com/uploads/20221209/5fdc9143c5041b807f4cd5bd75b3dbc1.jpg

[CUSTOMER]
H5URL_TYPE = 1
H5_WEB_URL = http://testdwzwx.yuluojishu.com

[SERVICE]
H5_LINK = http://123.57.156.251//kefu/5c6cbcb7d55ca
H5_LINK_OVERDUE = http://chatweb.yuluojishu.com//kefu/5c6cbcb7d55ca/650e8fb8c92d3

[CONFIG]
ISIOSVESTBAG = 1

[QYXSNLSMS]
Q_SMS_URL = http://api.sms654.com/smsUTF8.aspx
Q_SMS_USERNAME  = 15267477179
Q_SMS_PWD  = 15267477179
customer_content = 【山之名】你有1条新线索需要及时跟进。
customer_phone = 17640095824
customer_test = true

[SUBMAILSMS_142]
submailsms_142_sendurl = https://api-v4.mysubmail.com/sms/multixsend
submailsms_142_appid = 93725
submailsms_142_signature = cc52d0dac1501ea82170e9172d163b5f
submailsms_142_project = v998t1
submailsms_142_content  = 【山之名】你有一条来自@var(app)的新用户，债务金额是：@var(to_num)，手机号是：@var(phone)请注意及时跟进。

[SUBMAILSMS_195]
submailsms_195_sendurl = https://api-v4.mysubmail.com/sms/multixsend
submailsms_195_appid = 93740
submailsms_195_signature = 431d60e1d0e622557602e707cfb33d07
submailsms_195_project = jlZHY3
submailsms_195_content  = 【再无债】你有一条来自@var(app)的新用户，债务金额是：@var(to_num)，手机号是：@var(phone)请注意及时跟进。

[SUBMAILSMS_229]
submailsms_229_sendurl = https://api-v4.mysubmail.com/sms/multixsend
submailsms_229_appid = 95750
submailsms_229_signature = 5d4e550e3511f7f3b023cfb97b7e19ed
submailsms_229_project = 20Vfb1
submailsms_229_content  = 【国之良】你有一条来自@var(app)的新用户，债务金额是：@var(to_num)，手机号是：@var(phone)请注意及时跟进。

[SUBMAILSMS_242]
submailsms_242_sendurl = https://api-v4.mysubmail.com/sms/multixsend
submailsms_242_appid = 95750
submailsms_242_signature = 5d4e550e3511f7f3b023cfb97b7e19ed
submailsms_242_project = 20Vfb1
submailsms_242_content  = 【国之良】你有一条来自@var(app)的新用户，债务金额是：@var(to_num)，手机号是：@var(phone)请注意及时跟进。

[SZMZWZ]
MERCHANT_ID_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_thread/getMerchantId
CUSTOMER_ID_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_thread_yl/getCustomerInfo
SET_THREAD_NUM_MEDIA_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_threadYl/setReduceThreadNumMedia
SET_THREAD_NUM_YL_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_threadYl/setReduceThreadNumYL
MERCHANT_CUSTOMER_ID_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_thread_yl/getMediaMerchantId
CUSTOMER_THREAD_NUM_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_thread_yl/fallbackThreadNum
USER_LIST_THREAD_EXTERNAL_URL = http://testszmmcrm.yuluojishu.com/admin.api.external_thread_yl/importExternalThreadYl
ZHIYUN_MERCHANT_CUSTOMER_ID_URL = http://testmcrm.zhiyunjishu.cn/admin.api.external_thread_yl/getCustomerInfo
ZHIYUN_USER_LIST_THREAD_EXTERNAL_URL = http://testmcrm.zhiyunjishu.cn/admin.api.external_thread_yl/importExternalThreadYl
CUSTOMER_QRCODE_URL = http://testmcrm.zhiyunjishu.cn/admin.api.external_thread_yl/changeDiscernQrcodeStatus

[BAIDU]
BAIDU_PUSH_THREAD_APPLY_MERCHANT_KEY = baidu_push_thread_apply_merchant

[DOUYIN]
DOUYIN_PUSH_THREAD_APPLY_MERCHANT_KEY = douyin_push_thread_apply_merchant

[GDT]
GDT_PUSH_THREAD_APPLY_MERCHANT_KEY = gdt_push_thread_apply_merchant
